{% extends "main/base.html" %}
{% block title %} Exambit {% endblock title%}
{% load static %}

{% block meta-description %}
<meta charset="utf-8" name="description" content="Say no to stuff that divert's you from making good content. We will take care of all your general needs. Join our partner program.">
<meta name="keywords" content="Dblogstream,microsoft,python,django">
{% endblock meta-description %}

{% block scroller %}



 
{% endblock scroller%}

{% block header %}


<div class="container">

    <div class="hero">
        <div class="hero__content hero__content-left">
            <div class="hero__content-left__content">
                <div class="hero__content-left__content-text">
                    <h1 class="hero__content-left__content-text-content">Connecting freshers with great companies.</h1>
                </div>
                <div class="hero__content-left__content-call_to_action">
                    <p>We conduct  exams for freshers and help companies to find the right workforce.</p>
                    <button class="hero__content-left__content-call_to_action-btn rounded"><a href="{% url 'user:register' %}">Start competing</a></button>
                </div>
            </div>
        </div>
        <div class="hero__content hero__content-right" >
            <img src="{% static 'main/assets/hero-exm.jpg' %}" alt="">
        </div>
    </div>

    

</div>


{% endblock header%}

{% block container%}






{% endblock container%}