{% extends "user/base.html" %}

{% block title %} Dashboard {% endblock title%}
{% load static %}

{% block container%}

<div class="container">
    <div class="dashboard">
        <div class="dashboard__item dashboard__item-profile">
            <div class="dashboard__item__temp">
            </div>
        </div>
        <div class="dashboard__item dashboard__item-test"><div class="dashboard__item__temp">
        </div></div>
        <div class="dashboard__item dashboard__item-mock_test"><div class="dashboard__item__temp">
        </div></div>
    </div>
</div>


{% endblock container%}