{% extends "user/base.html" %}
 
{% block title %} Profile {% endblock title%}
{% load static %}

{% block container%}

<div class="container">
 <div class="profile">
     <div class="profile__main">
         <div class="profile__main__avatar">
             <img src="{% static 'main/assets/hero-exm.jpg' %}" alt="">
         </div>
         <div class="profile__main__details">
             <span class="profile__main__details-tag">Educational Background</span>
             <div class="profile__main__details-college">
                 <span>College:</span>
                 <p>Sharda University, Greater Noida</p>
             </div>
             <div class="profile__main__details-course">
                 <span>Course:</span>
                 <p>Bachlor of Computer Applications (BCA)</p>
             </div>
             <div class="profile__main__details-session">
                 <span>Session:</span>
                 <p>2018-2021</p>
             </div>
         </div>
     </div>


     <div class="profile__info">
         <div class="profile__info__details">

             <div class="profile__info__details--name">
                 <span class="profile__info__details--name_text">John Doe</span> <br>
                 <span class="profile__info__details--name_username">@username</span>
             </div>

             <div class="profile__info__details--contact">
                 <span class="profile__info__details--contact-tag">Contact information</span><br>
                 <div class="profile__info__details--contact__phone">Phone:
                     <span>012345678</span>

                 </div>
                 <div class="profile__info__details--contact__email">Email:

                    <span>example@mail.com</span>
                 </div>
                 <div class="profile__info__details--contact__address">Address:
                    <span>X-200, Greater Noida, Knowledge Park III, 324005, New Delhi</span>
                 </div>
                 <div class="profile__info__details--contact__aadhar">Aadhar no:
                     <span>3528 3523 5273</span>

                 </div>
             </div>

             <div class="profile__info__details--general">
                 <span class="profile__info__details--general-tag">General information</span><br>
                 <div class="profile__info__details--general__birthday">
                     Birthday: <span>29 Feb 2030</span>
                 </div>
                 <div class="profile__info__details--general__gender">
                     Gender <span>Male</span>
                 </div>
             </div>
         </div>
         <div class="profile__info__action">
             <button><a href="{% url 'user:profile-update' request.user.pk %}">Edit Profile</a></button>
         </div>
   
     </div>
 </div>
</div>


{% endblock container%} 