{% extends "exam/question.html" %}

{% block title %} All questions {% endblock title%}
{% load static %}


{% block container%}

<div class="container">
  <div class="question-list">

    {% for each in questions %}
    <div class="question-list__item">
      <div class="question-list__item-serial"><span>{{forloop.counter}}</span></div>
      <div class="question-list__item-title">{{each.title}}</div>
      <div class="question-list__item-type">{{each.question_type}}</div>
      <div class="question-list__item-action"><button><a href="{% url 'exam:question' each.pk %}">Solve</a></button>
      </div>
    </div>
    {% endfor%}

  </div>



  {% endblock container%}