{% extends "user/base.html" %}
 
{% block title %} Dashboard {% endblock title%}
{% load static %}

{% block container%}

<div class="container">
    <div class="dashboard">
        <div class="dashboard__item ">
            <div class="dashboard__item__profile">
                <img src="{% static 'main/assets/hero-exm.jpg' %}" alt="">
                <button>Edit Profile</button>
            </div>
        </div>

        <div class="dashboard__item ">
            <div class="dashboard__item__start-test">
                <p>Once test is available, start exam button will be enabled.</p>
                <button>Start test</button>
            </div>
        </div>

        <div class="dashboard__item">
            <div class="dashboard__item__payment"></div>
        </div>
    </div>
</div>


{% endblock container%} 