@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2.2rem; }

h4 {
  font-size: 1.8rem; }

h1, h2, h3, h4, h4, h6 {
  color: #363636; }

a {
  color: #34b45a; }

.active {
  color: white;
  background-color: #79ff8f; }

.solved {
  color: white;
  background-color: #79ff8f; }

p {
  line-height: 2.4rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #363636; }

* {
  box-sizing: border-box;
  text-decoration: none; }

li,
button {
  font-family: "Montserrat", sans-serif;
  text-decoration: none; }

.container {
  padding-right: 8px;
  padding-left: 8px; }

@media (min-width: 768px) {
  .container {
    margin: auto;
    padding-right: 20px;
    padding-left: 20px; }
  h1 {
    font-size: 4.6rem; }
  h2 {
    font-size: 3.6rem; }
  h3 {
    font-size: 2.8rem; }
  h4 {
    font-size: 2.2rem; } }

@media (min-width: 992px) {
  .container {
    margin: auto;
    max-width: 1160px; } }

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr; }
  .navbar__brand-logo {
    color: #363636;
    font-size: 2.6rem;
    margin: 0.2em; }
  .navbar__toggle {
    align-self: center;
    cursor: pointer; }
    .navbar__toggle__icon {
      color: black;
      font-weight: 800; }
  .navbar__nav {
    display: none; }
    .navbar__nav__menu {
      list-style: none;
      margin: 0; }
      .navbar__nav__menu__item {
        margin: 1rem 0.6rem; }
        .navbar__nav__menu__item > a:hover {
          color: #34b45a; }
        .navbar__nav__menu__item-link {
          font-size: 1.5rem;
          color: #363636; }

@media (min-width: 768px) {
  .navbar {
    grid-template-columns: 1fr 26rem; }
    .navbar__brand-logo {
      font-size: 3rem;
      font-family: "Roboto", sans-serif; }
    .navbar__toggle {
      display: none; }
    .navbar__nav {
      display: block; }
      .navbar__nav__menu {
        display: flex;
        align-items: center;
        justify-content: space-between; } }

.hero {
  margin-top: 1rem;
  height: 80vh;
  display: flex; }
  .hero__content {
    width: 100%; }
    .hero__content-left {
      height: 86%;
      display: flex;
      align-content: center;
      align-items: center; }
      .hero__content-left__content {
        width: 90%; }
        .hero__content-left__content-text-content {
          line-height: 5rem;
          color: #747474; }
        .hero__content-left__content-call_to_action {
          margin-top: 1.4rem;
          margin-right: 4rem; }
          .hero__content-left__content-call_to_action > * {
            color: #747474; }
          .hero__content-left__content-call_to_action-btn {
            margin-top: 1.2rem;
            background-color: #00BA24;
            color: white;
            padding: 1rem 1.6rem 1rem 1.6rem;
            font-size: 1.6rem; }
            .hero__content-left__content-call_to_action-btn > a {
              color: white; }

.navbar-user {
  display: flex; }
  .navbar-user__right {
    display: flex; }

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 2rem;
  margin-top: 1rem; }
  .dashboard__item {
    width: 100%;
    height: 50vh; }
    .dashboard__item__profile {
      height: 100%;
      padding: 1.8rem; }
      .dashboard__item__profile > img {
        height: auto;
        border: 1px solid #e0e0e0;
        width: 100%;
        margin-bottom: 1rem; }
      .dashboard__item__profile > button {
        border: 1px solid #cacaca;
        font-size: 1.2rem;
        padding: 1rem;
        width: 100%;
        color: gray; }
    .dashboard__item__start-test {
      border: 1px solid #e4e4e4;
      margin-top: 2rem;
      padding: 2rem; }
      .dashboard__item__start-test > button {
        margin-top: 1rem;
        border: 1px solid #cacaca;
        font-size: 2.2rem;
        padding: 1rem;
        width: 100%;
        color: #08f156; }

.profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem; }
  .profile__main__avatar {
    border: 1px solid #eeeaea;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem; }
    .profile__main__avatar > img {
      max-height: 28rem; }
  .profile__main__details {
    height: 50vh; }
    .profile__main__details-tag {
      font-size: 1.6rem;
      color: #b6b6b6;
      text-transform: uppercase; }
    .profile__main__details-college {
      margin-top: 1rem; }
      .profile__main__details-college > span {
        font-size: 1.8rem; }
    .profile__main__details-course {
      margin-top: 1rem; }
      .profile__main__details-course > span {
        font-size: 1.8rem; }
    .profile__main__details-session {
      margin-top: 1rem; }
      .profile__main__details-session > span {
        font-size: 1.8rem; }
  .profile__info {
    display: flex;
    justify-content: space-between;
    margin: 2rem; }
    .profile__info__details--name {
      margin-top: 1.8rem; }
      .profile__info__details--name_text {
        font-size: 4.8rem;
        line-height: 1rem; }
      .profile__info__details--name_username {
        font-size: 1.8rem;
        color: #4b4b4b; }
    .profile__info__details--contact {
      margin-top: 3.6rem;
      font-size: 1.8rem; }
      .profile__info__details--contact-tag {
        color: #b6b6b6;
        font-size: 1.8rem;
        text-transform: uppercase; }
      .profile__info__details--contact__phone {
        margin-top: 1rem; }
        .profile__info__details--contact__phone > span {
          color: gray; }
      .profile__info__details--contact__email {
        margin-top: 1rem; }
        .profile__info__details--contact__email > span {
          color: gray; }
      .profile__info__details--contact__address {
        margin-top: 1rem; }
        .profile__info__details--contact__address > span {
          color: gray; }
      .profile__info__details--contact__aadhar {
        margin-top: 1rem; }
        .profile__info__details--contact__aadhar > span {
          color: gray; }
    .profile__info__details--general {
      margin-top: 3.6rem;
      font-size: 1.8rem; }
      .profile__info__details--general-tag {
        color: #b6b6b6;
        text-transform: uppercase; }
      .profile__info__details--general__birthday {
        margin-top: 1rem; }
        .profile__info__details--general__birthday > span {
          color: gray; }
      .profile__info__details--general__gender {
        margin-top: 1rem; }
        .profile__info__details--general__gender > span {
          color: gray; }
    .profile__info__action > button {
      font-size: 1.4rem;
      border: 1px solid #eeebeb;
      padding: 0.6rem;
      background-color: #dfe7e3;
      color: #706f6f; }
    .profile__info__action > button:hover {
      background-color: red;
      color: white; }

.exam-frame {
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: 3rem; }
  .exam-frame__left {
    display: flex;
    justify-content: center;
    align-items: center; }
  .exam-frame__right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6faff; }

.instructions-welcome__name {
  display: block;
  color: #979696;
  font-size: 1.8rem; }

.instructions-welcome__statement {
  max-width: 31ch;
  font-size: 2.4rem;
  color: #505050; }

.instructions-welcome__metadata {
  margin-top: 2rem;
  display: flex; }
  .instructions-welcome__metadata__test-duration {
    margin-top: 2rem; }
    .instructions-welcome__metadata__test-duration > span {
      display: block;
      font-size: 2rem;
      color: #949494;
      margin-bottom: 1rem; }
  .instructions-welcome__metadata__question-count {
    margin: 2rem; }
    .instructions-welcome__metadata__question-count > span {
      display: block;
      font-size: 2rem;
      color: #949494;
      margin-bottom: 1rem; }

.instructions-content__heading > span {
  display: block;
  font-size: 3rem;
  margin: 1rem; }

.instructions-content__instructions {
  margin-left: 3rem;
  max-width: 120ch; }
  .instructions-content__instructions > p {
    color: gray; }

.instructions-content__start-test-btn {
  margin-left: 3rem;
  font-size: 2rem; }
  .instructions-content__start-test-btn > button {
    padding: 0.8rem;
    border: 1px solid #e3fce3;
    width: 33%;
    margin-top: 1rem;
    color: white;
    background-color: #2fff7f; }

.question-frame {
  display: grid;
  grid-template-columns: 4fr 7fr;
  gap: 3rem; }
  .question-frame__right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6faff; }

.question-area__section-tag {
  font-size: 1.4rem;
  color: gray;
  margin-bottom: 1rem; }

.question-area__content__header {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: black; }

.question-area__content__details > p {
  color: #292929; }

.question-index {
  margin: 2rem 0rem 2rem 0rem;
  display: flex;
  overflow-x: auto; }
  .question-index > a {
    display: inline-block;
    border-right: 1px solid #e9e9e9;
    padding: 1rem;
    font-size: 1.2rem;
    color: black; }

.choices-area {
  margin: 0rem 1rem 1rem 1rem; }
  .choices-area__content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 72vh; }
    .choices-area__content__editor-save > button {
      font-size: 1.6rem;
      padding: 0.4rem 1rem 0.4rem 1rem;
      margin-top: 1rem;
      border: 1px solid #65d5dd;
      color: white;
      background-color: #00c3ff; }
    .choices-area__content__editor-info {
      font-size: 1.6rem;
      margin: 0rem 0rem 1rem 0rem;
      color: gray;
      padding: 1rem;
      background-color: white;
      width: fit-content;
      display: flex;
      justify-content: space-around; }

.CodeMirror-code {
  font-size: 1.6rem;
  min-width: 620px; }

.question-list {
  font-size: 1.6rem; }
  .question-list__item {
    display: flex;
    justify-content: space-between;
    max-width: 760px;
    background-color: aliceblue;
    margin: 1rem; }
    .question-list__item-serial {
      padding: 1rem 2rem 1rem 1.6rem;
      background-color: #daeeff; }
    .question-list__item-title {
      font-size: 1.6rem;
      padding: 1rem 1.6rem 1rem 1.6rem; }
    .question-list__item-type {
      padding: 1rem 1.6rem 1rem 1.6rem; }
    .question-list__item-action > button {
      padding: 1rem 3rem 1rem 3rem;
      background-color: #0fcf0f;
      color: white; }

/* BASICS */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr; }

/* PADDING */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */ }

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px;
  /* Horizontal padding of content */ }

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */ }

/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap; }

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap; }

.CodeMirror-guttermarker {
  color: black; }

.CodeMirror-guttermarker-subtle {
  color: #999; }

/* CURSOR */
.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0; }

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver; }

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7; }

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1; }

.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite; }

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7; }

@-moz-keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

@-webkit-keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

@keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
  display: inline-block;
  text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: 0;
  overflow: hidden; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute; }

/* DEFAULT THEME */
.cm-s-default .cm-header {
  color: blue; }

.cm-s-default .cm-quote {
  color: #090; }

.cm-negative {
  color: #d44; }

.cm-positive {
  color: #292; }

.cm-header, .cm-strong {
  font-weight: bold; }

.cm-em {
  font-style: italic; }

.cm-link {
  text-decoration: underline; }

.cm-strikethrough {
  text-decoration: line-through; }

.cm-s-default .cm-keyword {
  color: #708; }

.cm-s-default .cm-atom {
  color: #219; }

.cm-s-default .cm-number {
  color: #164; }

.cm-s-default .cm-def {
  color: #00f; }

.cm-s-default .cm-variable-2 {
  color: #05a; }

.cm-s-default .cm-variable-3, .cm-s-default .cm-type {
  color: #085; }

.cm-s-default .cm-comment {
  color: #a50; }

.cm-s-default .cm-string {
  color: #a11; }

.cm-s-default .cm-string-2 {
  color: #f50; }

.cm-s-default .cm-meta {
  color: #555; }

.cm-s-default .cm-qualifier {
  color: #555; }

.cm-s-default .cm-builtin {
  color: #30a; }

.cm-s-default .cm-bracket {
  color: #997; }

.cm-s-default .cm-tag {
  color: #170; }

.cm-s-default .cm-attribute {
  color: #00c; }

.cm-s-default .cm-hr {
  color: #999; }

.cm-s-default .cm-link {
  color: #00c; }

.cm-s-default .cm-error {
  color: #f00; }

.cm-invalidchar {
  color: #f00; }

.CodeMirror-composing {
  border-bottom: 2px solid; }

/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0; }

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22; }

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3); }

.CodeMirror-activeline-background {
  background: #e8f2ff; }

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white; }

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px;
  margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative; }

.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent; }

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none; }

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll; }

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0; }

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0; }

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3; }

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px; }

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important; }

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4; }

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4; }

.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent; }

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent; }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */ }

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual; }

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal; }

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0; }

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px;
  /* Force widget margins to stay inside of the container */ }

.CodeMirror-rtl pre {
  direction: rtl; }

.CodeMirror-code {
  outline: none; }

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none; }

.CodeMirror-measure pre {
  position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3; }

div.CodeMirror-dragcursors {
  visibility: visible; }

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible; }

.CodeMirror-selected {
  background: #d9d9d9; }

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0; }

.CodeMirror-crosshair {
  cursor: crosshair; }

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: #d7d4f0; }

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4); }

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden; } }

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none; }
